body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


#navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-sizing: border-box; */
    width: 100%;
    height:80px;
    font-size:16px;
    font-weight: 600;
    margin:auto auto;
    padding: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}
#navBar ul{
    padding:0px;
    margin:0px;
}
#navBar li{
    display: inline-block;
    padding: 12px 8px 13px 8px;
}
#navBar a{
    color: black;
    text-decoration: none;
}
#navBar a:hover{
    color: rgb(0, 106, 255);
    text-decoration: none;
}
#leftNav{
    display: flex;
    justify-content: flex-start;
}
#rightNav{
    display: flex;
    justify-content: flex-end;
}
#centerNav img{
    height:35px;
    width: 160px;
}


#searchCity{
    width: 100%;
    height: 488px;
    background-image:url(https://delivery.digitalassets.zillowgroup.com/api/public/content/bluehouse_exterior_1920w_CMS_Full.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 100px; */
    /* position: absolute;
    top: 0;
    left: 0; */
}
#searchCity h1{
    color:white;
    font-size: 36px;
    font-family: "Ivar Headline","Ivar Headline Subset","Adjusted Times","Adjusted Times New Roman","Times New Roman",serif;;
    /* text-shadow: #000000; */
}
#searchCity div{
    width: 50%;
    background-color: #f6f6f6;
    border: 1px solid #d1d1d5;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchCity div:hover{
    border-color: rgb(0, 106, 255);
}
#searchCity input{
    width:100%;
    background-color: #f6f6fa;
    font-size: 16px;
    font-weight: 600;
    font-family: "Open Sans","Adjusted Arial",Tahoma,Geneva,sans-serif;
    border: 0;
    padding: 22px 0 22px 24px;
}
#searchCity span{
    padding: 22px 16px;
    background-color: #f6f6fa;
    border: 0;
}
#searchCity span button{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #f6f6fa;
}
#searchLogo{
    height:22px;
    width:22px;
}
#searchCity div{
    position: sticky;
    top: 0;
    left: 0;
}




#belowSearch{
    display: flex;
    flex-direction: column;
}

#getRecomm{
    padding: 32px 0 0 0;
    height: 344px;
}
#getRecomm>div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 248px;
    width: 100%;
    margin: 64px;
    padding: 0;
    box-sizing: border-box;
}
#getRecommContent{
    /* min-width: 115.33; */
    margin: 0 24px;
    min-width: 336px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.getRecommContent{
    margin: 0;
    padding: 0;
}
#getRecommContent h3{
    padding: 0 0 8px;
    font-weight: bolder;
}
#getRecommContent button{
    width: 83.4px;
    height: 44px;
    color: rgb(0, 106, 255);
    font-size: inherit;
    font: inherit;
    font-weight: bold;
    background-color: inherit;
    border: 1px solid rgb(0, 106, 255);
    border-radius: 4px;
    margin: 22px 0 0 ;
}
#homeImg{
    background-image: url(https://www.zillowstatic.com/s3/homepage/static/GatedCarousel_Mobile.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 792px;
}


#panel{
    width: 100%;
    height:100%;
    margin: 0;
    padding: 64px 0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(249, 249, 251);
}
.panelImg{
    width: 336px;
    height: 188px;
}
.cards{
    min-height: 100%;
    width: 384px;
    padding: 24px;
    margin: 12px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
    border-radius: 4px;
    background-color: white;
    transition: transform 0.1s ease-in-out;
}
.cards:hover{
    transform: scale(1.05) ;
    box-shadow: rgb(209, 209, 213) 0px 5px 15px;
}
.cards:hover{
    transition-timing-function: ease-in-out;
}
.cards div{
    min-height: 267.33px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 16px;
}
.cards p{
    margin: 16px 0 0;
    width:336px;
    height:96px
}
.cards button{
    width: 145.71px;
    height: 44px;
    color: rgb(0, 106, 255);
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 255);
    border-radius: 0.5em;
    font: inherit;
    font-size: inherit;
    font-weight: bold;
    background-color: inherit;
    margin: 22px 0 0 ;
}
.cards:hover button{
    background-color: rgb(0, 106, 255);
    color: white;
}


#bottomNav{
    margin: 0 67.6667px;
    padding: 31px 24px;
    box-sizing: border-box;
}
#bottomNav ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
#bottomNav div{
    box-sizing: border-box;
    padding: 12px 40px 12px 16px;

}
#bottomNav a{
    text-decoration: none;
    color:inherit;
    font: 16px;
    font-weight: bold;
}


footer{
    background: white;
    max-width: 1280px;
    margin: auto;
    display: block;
    box-sizing: border-box;
    font-family: 'Open Sans',Gotham,gotham,Tahoma,Geneva,sans-serif;
}

footer ul{
    height:30px;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    padding: 0 85px;
    text-align: center;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}
footer #lower-nav{
    width: 600px;
}
footer nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    padding: 24px 0;
    border-top: 0.5px solid rgb(201, 201, 201);
    border-bottom: 0.5px solid rgb(201, 201, 201);;
}
#warning{
    margin: 16px 0 0;
}
#upper-nav a,#lower-nav a{
    color: black;
    text-decoration: none;
}
#upper-nav a:hover,#lower-nav a:hover{
    color: black;
    text-decoration:underline;
}
#warning a{
    margin: 16px 0 0;
    color: #0D4599;
    text-decoration: none;
}
#warning a:hover{
    margin: 16px 0 0;
    color: #0D4599;
    text-decoration: underline;
}


#footer-content{
    color: #54545a;
    font-weight: bold;
    line-height: 1.5em;
    padding: 24px 0;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    margin: 0;
}
#footer-content p{
    width: 720px;
    padding: 0;
    margin: 0;
}
.margin-bottom-and-sides{
    margin-bottom:24px ;
}
.margin-bottom-and-sides p a{
    color: #0D4599;
}
#contact-para{
    font-size: 14px;
    margin: 8px;
}


#download-app{
    width: auto;
    margin: 0 0 24px;
}
#download-app li{
    margin: 0 0 0 8px;
}
#zillow-follow-copyright{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#zillow-follow-copyright li{
    margin: 0 0 24px 8px;
}
#zillow-logo img{
    width: 152px;
    height: 32px;
}
#follow-us img{
    height: 28px;
    width: 28px;
}
#follow-us a{
    margin: 0 5px;
}
#copyright-section img{
    height: 30px;
    width: 30px;
}

/* to change the highlight color
::selection{
    color:purple;
} */